<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <title>Teste Qualquer Coisa</title>
</head>
<body>
    <div id="vApp" class="container">
        <h1>Teste Vue Js</h1>

        <div class="row">
            <form action="" class="form-control">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" v-model="nome">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" v-model="email">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" v-model="telefone">
                </div>
                <div class="form-group">
                    <label for="rg">RG:</label>
                    <input type="number" class="form-control" id="rg" v-model="rg">
                </div>
                <div class="form-group">
                    <label><input type="checkbox" v-model="lembrar"> Lembrar</label>
                </div>
                <button type="button" class="btn" v-on:click="mostrarDados">Submit</button>
            </form>
        </div>
        <hr />
  
        <h4>Dados:</h4>
        <div id="content" class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">RG</th>
                        <th scope="col">Lembrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="d in lstDados">
                        <td>{{ d.nome }}</td>
                        <td>{{ d.email }}</td>
                        <td>{{ d.telefone }}</td>
                        <td>{{ d.rg }}</td>
                        <td>{{ d.lembrar }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
</body>
</html>
<script type="text/javascript" src="js/app.js"></script>